<html>
    <link rel="stylesheet" href="/static/admin/home.css">
    <body>
        <div id="main">
            <h2>Benutzerverwaltung</h2>
            <p>Folgende Benutzer sind im System gespeichert.</p>
            <form action="/admin" method="post">
                <input type="hidden" name="site" value="edituser">
                {% for table in tables %}
                <h2>{{titles[loop.index]}}</h2>
                {{ table|safe }}
                    {% endfor %}
            </form>
        </div>

    </body>

</html>