<head>
    <title>Adminpanel</title>
    <link rel="stylesheet" href="/static/admin/home.css">
    <link rel="stylesheet" href="/static/footer.css" type="text/css">
    <link rel="stylesheet" href="/static/header.css" type="text/css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico.png') }}">

    <meta charset="utf-8">
</head>
<header>
    <div id="logo">
        <a href="/"><img src="static/ico.png" alt="Schiller-Gymnasium Logo" width=100px height=auto></a>
    </div>
    <nav>
        <ul>
            
            <li><a href="/admin">Adminpanel</a></li>
            <li><a href="/">Hauptseite</a></li>
        </ul>
    </nav>
</header>