<html>
    {% include "admin/header.html" %}

    <body>
        <div id="main">
            <h2>Benutzerverwaltung</h2>
            <p id="marginbottom">Folgende Benutzer sind im System gespeichert.</p>
            <form action="/admin" method="post" id="marginbottom">
                <input type="hidden" name="site" value="adduser">
                <input type="submit" value="Benutzer hinzufügen">
            </form>
            <p id="green_back">{{message}}</p>
            {% for table in tables %}
            <h2>{{titles[loop.index]}}</h2>
            {{ table|safe }}
                {% endfor %}

        </div>

    </body>
    {% include "footer.html" %}

    <script>
        function confirmf(username){ 
            var proceed = confirm('Wollen Sie wirklich das Passowrt für "'+username+'" zurücksetzen?');
            if (proceed) {
                window.location = "/admin?site=resetpassword&username="+username;
            }
        }
    </script>
</html>