footer {
    height: 65px;
    padding-top: 10px;
    background-color: #c0bcbc;
    bottom: 0;
    width: 100%;
    overflow:hidden;
    float: bottom;
    position: absolute;
}

#ge ul li {
    width: 50%;
    float: left;
    padding-bottom: 15px;
    padding-bottom: 0;
}

#da {
    padding-bottom: 0;
}
