html {
    text-align: center;
    position: relative;
    min-height: 100%;
}

body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: blue;
}

table {
    table-layout: fixed;
    border: 1px solid black;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 30px;
}

td {
    word-wrap: break-word;
}

th {
    text-align: center;
}

#to_late {
    color: red;
}

#in_time {
    color: green;
}

#wrong {
    color: red;
}

#ok {
    color: green;
}


#main {
    height: auto;
    margin-bottom: 120px;
}

#left {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

#back_set {
    width: 270px;
}


#take_book {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: left;
    font-size: 18px;
}

#take_in {
    float: right;
    margin-bottom: 10px;
    width: 100%;
}

#take_in_b {
    width: 100%;
    height: 40px;
}


#manu {
    width: 285px;
    margin-left: auto;
    margin-right: auto;
}

#manu_bu {
    width: 100%;
}

#search {
    width: 385px;
    margin-right: auto;
    margin-left: auto;
}


#book_ins {
    width: 40%;
}

#next {
    z-index: 1;
    height: 65px;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    overflow:hidden;
    float: bottom;
    position: absolute;
}

#left {
    padding-top: 14px;
    width: 50%;
    float: left;
}
#right {
    padding-top: 14px;
    width: 50%;
    float: right;
}

#but_next {
    font-size: 16;
    min-width: 100px;
    height: 30px;
}

#buchstufe {
    width: 100%;
    height: 120px;
    opacity: 1;
}

#buchstufes {
    width: 600px;
    margin: 0 auto;
}

#buchstufes ul li {
    width: 255px;
    float: left;
    background-color: #cacaca;
    margin: 0 10px;
    height: 120px;
    border-radius: 10px;
}

#buchstufes input[type=submit] {
    margin-top: 10px;
}

#buchstufes h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

#card {
    width: 100%;
    height: 120px;
    opacity: 1;
}


#cards {
    width: 600px;
    margin: 0 auto;
    
}

#cards ul li {
    width: 280px;
    float: left;
    background-color: #cacaca;
    margin: 0 10px;
    height: 100px;
    border-radius: 10px;
}

#cards ul {
    padding-left: 0;
}

#card2 {
    width: 100%;
    height: 200px;
}

#cards2 {
    width: 700px;
    margin: 0 auto;
}

#cards2 ul li {
    float: left;
    height: auto;
}

#card1sp {
    padding-top: 1px;
    background-color: #cacaca;
    margin: 0 10px;
    height: 100px;
    border-radius: 10px;
    width: 400px;
    height: 170px;
}
#card2sp {
    padding-top: 1px;
    background-color: #cacaca;
    margin: 0 10px;
    height: 103px;
    border-radius: 10px;
    width: 250px;
}

#cards2 ul {
    padding-left: 0;
}


#remove_stufe {
    color: red;
    font-weight: bold;
}

#red {
    color: red;
    font-weight: bold;
    padding-top: 100px;
}


#stufen_gro {
    width: 600px;
    margin: 0 auto;
}

#stufen_card ul li {
    width: 100px;
    float: left;
    margin: 5px 10px;
    border-radius: 5px;
    background-color: #cacaca;
}

#stufen_card_but {
    margin-top: 10px;
    margin-bottom: -5px;
    font-size: 14;
    font-weight: bold;
    height: 40px;
    width: 60px;
}

#abgabebuch {
    color: red;
}

#square {
    height: 50px;
    min-width: 200px;
    border-radius: 0px;
    font-size: 20px;
    background-color: #dddddd;
}

#square:hover {
    animation-name: colorchange;
    animation-duration: 1s;
    background-color: #c7caca;
}

@keyframes colorchange {
    from {background-color: #dddddd;}
    to {background-color: #c7caca;}
}

#msg {
    margin-top: 0;
    height: auto;
}

#msg p {
    margin-bottom: 0px;
}

#msg p {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    font-size: 20px;
}

#red {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: red;
    color: black;
}

#green {
    background-color: green;
}


#warning {
    background-color: orange;
    color: white;
}

#ok {
    background-color: green;
    color: white;
}

#full_cell {
    width: 100%;
    border-radius: 0px;
    font-weight: bolder;
    font-size: 15;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid #6d6d6d;
    text-align: left;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.columnss {
    float: left;
    width: 10%;
    height: max-content;
}

#height_form {
    margin-bottom: 0;
}

#but_next_top {
    font-size: 16;
    min-width: 100px;
    height: 30px;
    margin-top: 3px;
}


.columnsw {
    float: left;
    width: 80%;
}

/* The floats after the columns are cleared */
.row:after {
    content: "";
    display: table;
    clear: both;
}



#threecolumn {
    display: flex;
}

#threecolumnsidemid {
    flex: 50%;
}

#threecolumnsideout {
    flex: 25%;
}







#mark_changed {
    position: relative;
    height: 21px;
    margin-left:-6px;
    margin-right: -6px;
    margin-top: -3px;
    padding-top: 3px;
    background-color: green;
    padding-left: 6px;
    margin-bottom: -3px;
    padding-bottom: 3px;
}