<html>
    {% include "header.html" %}

    <body>
        <div id="main">
            <p id="remove_stufe">{{msg}}</p>
            <h2>Buch bearbeiten</h2>
            <p>Bitte mit vorsicht behandeln, Änderungen können nicht rückgängig gemacht werden!</p>
            <form action="" method="get" onsubmit="komma()">
                <input type="hidden" name="site" value="book_by_ISBN">
                <input type="hidden" name="save" value="1">
                <input type="text" name="ISBN" value="{{ISBN}}" autofocus>
                <textarea name="Titel">{{Titel}}</textarea>
                <input type="text" name="verlag" value="{{Verlag}}" placeholder="Verlag">
                <input type="number" name="preis" value="{{Preis}}" placeholder="Preis">
                <select name="Fach">
                    <option value="{{Fach}}" hidden selected>{{Fachn}}</option>
                    <option value="">Nicht Fachspezifisch</option>
                    {% for i in faecher %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="speichern" {{disabled}}>
            </form>

            <input type="submit" value="Buch löschen" onclick="confirmf({{ISBN}})" {{disabled}}>

        </div>

    </body>

    {% include "footer.html" %}


    <script>
        function komma(){
            let text=document.getElementById("preis").value;
            let r=text.replace(",", ".");
            document.getElementById("preis").value=r;
        }

        function confirmf(ISBN){ 
            var proceed = confirm("Wollen Sie das Buch wirklich löschen?");
            if (proceed) {
                window.location = "/?site=delete_book&ISBN="+ISBN;
            }
        }
    </script>
</html>