<head>
    <title>Büchersoftware</title>

    <link rel="stylesheet" href="/static/home.css" type="text/css">
    <link rel="stylesheet" href="/static/footer.css" type="text/css">
    <link rel="stylesheet" href="/static/header.css" type="text/css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico.png') }}">

    <meta charset="utf-8">
</head>
<header>
    <div id="logo">
        <a href="/"><img src="static/ico.png" alt="Schiller-Gymnasium Logo" width=100px height=auto></a>
    </div>
    <nav>
        <ul>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Account</button>
                    <div class="dropdown-content">
                        {% for i in header_dropdown_content %}

                            <a href="/{{i.0}}">{{i.1}}</a>

                        {% endfor %}
                    </div>
                </div>
            </li>
            <li><a href="/?site=books">Buchverwaltung</a></li>
            <li><a href="/?site=search_specific">Spezifische Suche</a></li>
            <li><a href="/?site=search">Schüler/in suchen</a></li>
            <li><a href="/?site=klassen">Klassen</a></li>
            <li><a href="/">Übersicht</a></li>
        </ul>
    </nav>
</header>