<head>
    <title>Büchersoftware</title>

    <link rel="stylesheet" href="/static/home.css" type="text/css">
    <link rel="stylesheet" href="/static/footer.css" type="text/css">
    <link rel="stylesheet" href="/static/header.css" type="text/css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico.png') }}">

    <meta charset="utf-8">
</head>
<header>
    <div id="logo">
        <img src="static/ico.png" alt="Schiller-Gymnasium Logo" width=100px height=auto>
    </div>
    <nav>
        <ul>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Account</button>
                    <div class="dropdown-content">
                      <a href="/?site=settings">Passwort ändern</a>
                      <a href="/?site=logout">Abmelden</a>
                    </div>
                </div>
            </li> 
            <li><a href="/?site=protocol">Protokoll</a></li>
            <li><a href="/?site=books">Buchverwaltung</a></li>
            <li><a href="/?site=take_book">Buch ausleihen</a></li>
            <li><a href="/">Übersicht</a></li>
        </ul>
    </nav>
</header>