<html>
    {% include "header.html" %}

    <body>
        <div id="main">
            <h2>Buch hinzufügen</h2>
            <p>Geben Sie bitte die ISBN, den Titel und den Verlag ein (Preis ist nicht erforderlich), um ein Buch hinzu zu fügen.</p>
            <form action="" method="get" name="insert_book" onsubmit="komma()">
                <input type="hidden" name="site" value="insert_book">
                <input type="text" name="ISBN" placeholder="ISBN" required autofocus>
                <textarea name="titel" placeholder="Titel" required></textarea>
                <input type="text" name="verlag" placeholder="Verlag" required>
                <input type="number" name="preis" placeholder="Preis" id="preis">
                <select name="Fach">
                    <option value="" selected>Nicht Fachspezifisch</option>
                    {% for i in religion %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="speichern">
            </form>

        </div>

    </body>

    {% include "footer.html" %}

    <script>
        function komma(){
            let text=document.getElementById("preis").value;
            let r=text.replace(",", ".");
            document.getElementById("preis").value=r;
        }
    </script>



</html>