<!DOCTYPE html>   
<html>   
<head>  
<title> Login Page </title>  
<link rel="stylesheet" href="/static/login.css" type="text/css">
</head>    
<body>    
    <center> <h1>Login-Seite</h1> </center>   
    <form action="/validate" method="post">  
        <div class="container">   
            <label>Benutzername : </label>   
            <input type="text" placeholder="Benutzername" name="username" required autofocus>  
            <label>Passwort : </label>   
            <input type="password" placeholder="Passwort" name="password" required>  
            <button type="submit">Login</button>   
        </div>   
    </form>     
</body>     
</html>  