<html>
    {% include "header.html" %}

    <body>
        <div id="main">
            <br>
            <form action="/" method="get" id="save_book">
                <input type="hidden" name="site" value="save">
                <input type="hidden" name="ID" value="{{ID}}"
                {% for table in tables %}            
                <h2>{{titles[loop.index]}}</h2>
                
                {{ table|safe }}
                    {% endfor %}
                

                <input type="hidden" name="site" value="save_a">
                <div id="ISBN_a">
                    <div class="inline">
                        <h2>Zurückgeben</h2>
                        <input type="text" name="zu" placeholder="ISBN">
                    </div>
                    <div class="inline">
                        <h2>Eintragen</h2>
                        <input type="text" name="ei" placeholder="ISBN">
                    </div>
                </div>
            <input type="submit">
            </form>

        </div>

    </body>
    <div id="next">
        <div id="left">
            <form action="/">
                <input type="hidden" name="site" value="schueler">
                <input type="hidden" name="ID" value="{{ID_prev}}">
                <input type="submit" value="zurück" id="but_next">
            </form>
        </div>
        <div id="right">
            <form action="/">
                <input type="hidden" name="site" value="schueler">
                <input type="hidden" name="ID" value="{{ID_next}}">
                <input type="submit" value="vor" id="but_next">
            </form>
        </div>
    </div>

    {% include "footer.html" %}

    <script type="text/javascript">

            function submitform(){
              document.forms["save_book"].submit();
            }

    </script>
</html>












