<html>
    {% include "header.html" %}

    <body>
        <div id="main">
            {% for result in messages %}
            <div id="msg">
                <div id="{{ result[0] }}">
                    <p>{{ result[1] }}</p>
                </div>
            </div>
            {% endfor %}
            <br>
            <form action="/" method="get" id="insert">
                <input type="hidden" name="site" value="save">
                <input type="hidden" name="ID" value="{{ID}}">
            </form>
            <form action="/" method="get" id="save_book" target="hidden-form">
                <input type="hidden" name="site" value="save">
                <input type="hidden" name="ID" value="{{ID}}">
                {% for table in tables %}            
                <h2>{{titles[loop.index]}}</h2>
                
                {{ table|safe }}
                    {% endfor %}
                

                <input type="hidden" name="site" value="save_a">
                <div id="card">
                <div id="cards">
                    <ul>
                        <li>
                            <h2>Zurückgeben</h2>
                            <input type="text" name="zu" placeholder="ISBN" onchange="reload()" form="insert">
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h2>Eintragen</h2>
                            <input type="text" name="ei" placeholder="ISBN" onchange="reload()" form="insert" autofocus>
                        </li>
                    </ul>
                </div></div>


                <div id="card2">
                    <div id="cards2">
                        <ul>
                            <li>
                                <div id="card1sp">
                                    <h2>Bemerkung</h2>
                                    <textarea name="bemerkung" rows="5" cols="50" placeholder="Bemerkungen" onchange="submitform()" {{disabled}}>{{bemerkung}}</textarea>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div id="card2sp">
                                    <h2>Gebühren</h2>
                                    <input type="text" name="geld" placeholder="Gebühren" value="{{geld}}" onchange="submitform()" {{dis}}>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <input type="submit" value="speichern">
            </form></form>
            <iframe style="display:none" name="hidden-form"></iframe>
        </div>

    </body>
    <div id="next">
        <div id="left">
            <form action="/">
                <input type="hidden" name="site" value="schueler">
                <input type="hidden" name="ID" value="{{ID_prev}}">
                <input type="submit" value="{{vor_name}}" id="but_next">
            </form>
        </div>
        <div id="right">
            <form action="/">
                <input type="hidden" name="site" value="schueler">
                <input type="hidden" name="ID" value="{{ID_next}}">
                <input type="submit" value="{{ne_name}}" id="but_next">
            </form>
        </div>
    </div>

    {% include "footer.html" %}

    <script type="text/javascript">

            function submitform(){
              document.forms["save_book"].submit();
            }

            function reload(){
                document.forms["insert"].submit();
            }

    </script>
</html>












