<html>
    {% include "header.html" %}

    <body>
        <div id="main">
            <br>
            <form action="/" method="get" id="save_book">
                <input type="hidden" name="site" value="save">
                <input type="hidden" name="ID" value="{{ID}}">
                {% for table in tables %}            
                <h2>{{titles[loop.index]}}</h2>
                
                {{ table|safe }}
                    {% endfor %}
                

                <input type="hidden" name="site" value="save_a">
                <div id="card">
                <div id="cards">
                    <ul>
                        <li>
                            <h2>Zurückgeben</h2>
                            <input type="text" name="zu" placeholder="ISBN">
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h2>Eintragen</h2>
                            <input type="text" name="ei" placeholder="ISBN">
                        </li>
                    </ul>
                </div></div>


                <div id="card2">
                    <div id="cards2">
                        <ul>
                            <li>
                                <div id="card1sp">
                                    <h2>Bemerkung</h2>
                                    <textarea name="bemerkung" rows="5" cols="50" placeholder="Bemerkungen" {{dis}}>{{bemerkung}}</textarea>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div id="card2sp">
                                    <h2>Gebühren</h2>
                                    <input type="text" name="geld" placeholder="Gebühren" value="{{geld}}" {{dis}}>
                                </div>
                            </li>
                        </ul>
                    </div></div>
                <input type="submit">
            </form>
        </div>

    </body>
    <div id="next">
        <div id="left">
            <form action="/">
                <input type="hidden" name="site" value="schueler">
                <input type="hidden" name="ID" value="{{ID_prev}}">
                <input type="submit" value="zurück" id="but_next">
            </form>
        </div>
        <div id="right">
            <form action="/">
                <input type="hidden" name="site" value="schueler">
                <input type="hidden" name="ID" value="{{ID_next}}">
                <input type="submit" value="vor" id="but_next">
            </form>
        </div>
    </div>

    {% include "footer.html" %}

    <script type="text/javascript">

            function submitform(){
              document.forms["save_book"].submit();
            }

    </script>
</html>












