<html>
    {% include "header.html" %}

    <body>
        <div id="main">
            <h2>Suche Bücher</h2>
            <div id="search">
            <form action="" method="get">
                <input type="hidden" name="site" value="search_specific">
                <p>Nach Schüler suchen:</p>
                <input type="text" name="ISBN" value="{{ISBN}}" placeholder="ISBN" required>
                <input type="number" name="stufe" value="{{stufe}}" placeholder="Stufe" required>
                <input type="text" name="class" value="{{klasse}}" placeholder="Klasse"><br>
                <input type="submit" value="suchen">
            </form>
            </div>
            {% for table in tables %}
            <h2>{{titles[loop.index]}}</h2>
            {{ table|safe }}
                {% endfor %}

        </div>

    </body>

    {% include "footer.html" %}
</html>












