<html>
    {% include "header.html" %}
    <head>
        <link rel="stylesheet" href="/static/tableForm0.css" type="text/css">
    </head>

    <body>
        <div id="threecolumn">
        <div id="threecolumnsideout">

        </div>
        <div id="threecolumnsidemid">
        <div id="main">
            <h2>Schüler</h2>
            {% for table in tables %}
            <h2>{{titles[loop.index]}}</h2>
            {{ table|safe }}
                {% endfor %}

        </div></div>
        <div id="threecolumnsideout">
            <br>
            <br>
            <br>
            <h2>Buch der gesamten Klasse hinzufügen</h2>
            <form action="/" method="get">
                <input type="hidden" name="site" value="complete_class">
                <input type="text" name="klass" placeholder="Klasse (9a)" value="{{klass}}" required><br>
                <input type="text" name="ISBN" placeholder="ISBN" value="{{showBook}}" required><br>
                <input type="number" name="an" placeholder="Anzahl" required><br>
                <input type="submit" value="absenden">
            </form>
            <br>
            <br>
            <br>
            <h2>Abhaken eines Buches</h2>
            <form action="/" method="get">
                <input type="hidden" name="site" value="klassen">
                <input type="hidden" name="k" placeholder="Klasse (9a)" value="{{klass}}" required>
                <input type="text" name="showBook" placeholder="ISBN" value="{{showBook}}" required><br>
                <input type="submit" value="anzeigen">
            </form>
            <form action="/" method="get">
                <input type="hidden" name="site" value="klassen">
                <input type="hidden" name="k" placeholder="Klasse (9a)" value="{{klass}}" required>
                <input type="submit" value="Anzeige zurücksetzen">
            </form>
        </div>
        </div>
    </body>

    {% include "footer.html" %}
</html>












