<html>
    {% include "header.html" %}

    <body>
        <div id="main">
            
            <h2>{{titel}} | Klassen</h2>
            <div id="stufen_gro"><div id="stufen_card">
            {% for i in klassen %}
                <ul><li>
                
                    <form action="/" method="get">
                        <input type="hidden" name="site" value="{{site}}">
                        <input type="hidden" name="stufe" value="{{i}}">
                        <input type="submit" value="{{i}}" id="stufen_card_but">
                    </form>
                </li></ul>
                {% endfor %}
            </div></div>

        </div>

    </body>
    {% include "footer.html" %}

</html>












