<html>
    {% include "header.html" %}

    <body>
        <div id="main">
            <h2>Stufen-Buchverwaltung</h2>
            <p>Stufe: {{Stufe}}</p>
            {% for table in tables %}
            <h2>{{titles[loop.index]}}</h2>
            {{ table|safe }}
                {% endfor %}
            
            <form action="/" method="get">
                <input type="hidden" name="site" value="add_stufe">
                <input type="hidden" name="stufe" value="{{Stufe}}">
                <input type="number" name="ISBN" placeholder="ISBN">
                <input type="submit" value="Einfügen">
            </form>

        </div>

    </body>

    {% include "footer.html" %}
</html>












