<html>
    {% include "header.html" %}

    <body>
        <div id="main">
            <h2>Stufen-Buchverwaltung</h2>
            <p>Stufe: {{Stufe}}</p>
            {% for table in tables %}
            <h2>{{titles[loop.index]}}</h2>
            {{ table|safe }}
                {% endfor %}
            
            <div id="buchstufe">
                <div id="buchstufescard">
                    <h2>Buch hinzufügen</h2>
                    <form action="/" method="get">
                        <input type="hidden" name="site" value="add_stufe">
                        <input type="hidden" name="stufe" value="{{Stufe}}">
                        <input type="number" name="ISBN" placeholder="ISBN" required><br>
                        <input type="number" name="lange" placeholder="Wie lange?" required><br>
                        <input type="submit" value="Hinzufügen">
                    </form>
            </div></div>
            
            <br>
            <form action="/" method="get">
                <input type="hidden" name="site" value="execute_stufe">
                <input type="hidden" name="stufe" value="{{Stufe}}">
                <input type="submit" value="Für Schüler anwenden">
                <p>(Kann bis zu 10 Minuten dauern)</p>
            </form>

        </div>

    </body>

    {% include "footer.html" %}
</html>












